@charset "utf-8";
*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: aquamarine;
}
 header{
    background-color: gray;
 }
 header >h1{
    padding: 10px;
    text-align: center;
 }

  menu{
    display: block;
  }
   menu>ul{
    
    list-style-type: none;
  }
  menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(63, 63, 63, 0.543);
    color: white;
  }
   
  menu a:hover{
    color: blue;
  }
  main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }
  article >h2{
    padding-bottom: 10px;
  }
  article> p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;

}